@font-face {
  font-family: "Metropolis Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Metropolis-Regular.woff");
}
@font-face {
  font-family: "Metropolis Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Metropolis-Bold.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ed017f;
}
body {
  font-family: "Metropolis Regular", sans-serif;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
  /* align-items: center; */
  color: inherit;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.primary-btn {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  padding: 18px 30px;
  letter-spacing: 2px;

  position: relative;
  outline: 1px solid var(--primary-color);
  overflow: hidden;
}
.primary-btn::after{
  position: absolute;
  content: "";
  width: 10px;
  top: 0;
  bottom: 0;
  background: white;
  left: 0;
  transform: scale(0);
  transition: 0.5s linear;
}
.primary-btn span{
  position: relative;
  z-index: 2;
}
.primary-btn:hover span{
  color: var(--primary-color);
}
.primary-btn:hover::after{
  transform: scale(50);
}
.secondary-btn {
  border: 1px solid var(--primary-color);
  padding: 18px 30px;
  color: var(--primary-color);
  border-radius: 4px;
  margin-left: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-3 {
  width: calc(8.33% * 3);
  padding: 0 15px;
}
.col-4 {
  width: calc(8.33%* 4);
  padding: 0 15px;
}
.col-8 {
  width: calc(8.33% *8);
  padding: 0 15px;
}

/* header section */
header {
  padding: 15px 0;
}
.menu {
  display: none;
}
nav,
.navbar-collapsed,
.navbar-collapsed > ul,
.nav-btn {
  display: flex;
  align-items: center;
}

.navbar-collapsed {
  flex-grow: 1;
}
.navbar-collapsed > ul {
  margin: 0 auto;
}
.nav-items {
  margin-right: 41.6px;
}
/* .nav-icon {
  margin-right: 27px;
} */
.nav-links {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.nav-links:hover {
  color: var(--primary-color);
}
.nav-btn > .primary-btn{
  margin-left: 27px;
}
/* banner section */

.banner-sec {
  padding: 30px 0 0;
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.banner-sec .row {
  align-items: center;
}

.banner-title {
  font-size: 57px;
  line-height: calc(68 / 57);
  font-family: "Metropolis Bold", sans-serif;
}

.banner-content > .banner-title {
  max-width: 431px;
}
.banner-content > p {
  margin: 23px 0 38px;
  max-width: 391.74px;
  font-size: 16px;
}
.banner-btn,
.banner-social-links {
  display: flex;
  align-items: center;
  
}
.banner-social-links > li {
  margin-left: 16px;
}
.banner-social-links > li:first-child {
  margin-right: 44px;
  position: relative;
}
.banner-social-links > li:first-child::after {
  content: "";
  width: 1px;
  background: rgba(0, 0, 0, 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -22px;
}
.banner-btn {
  margin-bottom: 51px;
}
.banner-img {
  max-width: 905px;
  margin: 0 auto;
  position: relative;
}
.banner-img::after {
  content: "";
  position: absolute;
  width: 197px;
  height: 71px;
  border-radius: 55px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
  left: 77.19px;
  top: 0;
  background: url("./images/home-loan.png") center/contain no-repeat;
}
.banner-img::before {
  content: "";
  position: absolute;
  width: 197px;
  height: 71px;
  border-radius: 55px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
  right: 82.83px;
  top: 112px;
  background: url("./images/car-loan.png") center/contain no-repeat;
}

.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .banner-img > img {
  margin: 0 auto;
} */

/* customer experience section */
.customer-experience-sec {
  padding: 104px 0;
}

.section-hdr > .title1 {
  max-width: 750px;;
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 18px;
  text-align: center;
}
.section-hdr > p {
  max-width: 622.42px;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 78px;
  text-align: center;
}
.customer-card {
  max-width: 259px;
  min-height: 231px;
  margin: 0 auto 20px;
}
.customer-card > .title2 {
  margin-bottom: 10px;
}

/* Our Services */

.our-services-sec {
  padding: 104px 0;
  background: #FEF9FC;
}
.service-card{
  max-width: 254px;
  margin: 0 auto;
}

.service-card > img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.service-link {
  display: flex;
}
.service-link > p {
  max-width: 195px;
  margin-right: 22px;
}
.service-link>svg{
  z-index: 2;
}
.circle {
  position: relative;
  width: fit-content;
}
.circle::after {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: rgb(248, 213, 219);
  position: absolute;
  top: 45%;
  right: -5px;
  transform: translateY(-50%);
  z-index: 1;
}

/* Our best results */

.result-sec {
  padding: 104px 0;
}
.review-no-card {
  max-width: 172px;
  margin: 0 auto 67.5px;
}
.review-no-card > .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 8px;
}
.review-no-card > .number:hover {
  color: var(--primary-color);
}
.review-no-card > p {
  font-size: 16px;
}

/* Footer Section */
footer {
  padding: 104px 0;
  /* text-align: center; */
}

.footer-navigation {
  margin: 0 auto;
  max-width: 180px;
}
.footer-heading {
  font-size: 18px;
  font-family: "Metropolis Bold";
  color: black;
  margin-bottom: 20px;
}
.footer-navigation > p {
  font-size: 14px;
  font-family: "Metropolis Regular";
  margin-bottom: 16px;
}
.product-links {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Metropolis Regular";
}



/* Media queries */

@media screen and (max-width: 1200px) {
  
  .col-4,
  .col-8 {
    width: 100%;
  }

  /* banner section */
  .banner-sec .row {
    flex-wrap: wrap-reverse;
  }
  .banner-img {
    margin-bottom: 15px;
  }
  .banner-img::before,
  .banner-img::after {
    transform: scale(0.8);
  }

  /* Our Service section */
  .our-services-sec .col-3{
    width: 50%;
    margin-bottom: 20px;
  }

  /* Footer Section */
  footer .col-3{
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-navigation {
  margin:0;
  max-width: 100%;
}

 


}
@media screen and (max-width: 992px) {
  .navbar-collapsed {
    display: none;
  }
  .menu {
    display: block;
    margin-left: auto;
  }

  .section-gap{
    padding: 50px 0;
  }
}
@media screen and (max-width: 768px) {

  .section-hdr > .title1{
    font-size: 32px;
  }

  /* banner section */
  .banner-img::before {
    right: -10px;
  }
  .banner-img::after {
    left: -43px;
  }
  .banner-img::before,
  .banner-img::after {
    transform: scale(0.6);
  }
  .banner-title {
    font-size: 32px;
  }

  /* customer experience section */
  .customer-experience-sec .col-3{
    width: 50%;
  }

  /* Our Service section */
  .our-services-sec .col-3{
    width: 100%;
    margin-bottom: 20px;
  }

  /* Our best results */
  .result-sec .col-3{
    width: 50%;
  }
  /* Footer Section */

  footer {
  text-align: center;
}
  footer .col-3{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-navigation> .banner-social-links {
  margin:0 ;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
}
